// Fonts
$main-font: "Inter", sans-serif;

// Radius
$button-radius: 0.8rem;
$image-radius: 2rem;
$full-radius: 100%;

// Transitions
$transition: all 0.3s ease;

// Max width
$container-max-width: 126rem;