@use "../abstracts" as vars;

.heading {
  font-weight: 700;
  color: vars.$color-primary;
  line-height: 110%;

  &--1 {
    font-size: 4.8rem;
  }

  &--2 {
    font-size: 3.8rem;
  }

  &--3 {
    font-size: 3.2rem;
  }
}

.wysiwyg {
  font-size: 1.6rem;
  line-height: 140%;
  color: vars.$color-content;

  & a {
    color: vars.$color-secondary;
    text-decoration: underline;
  }

  & b {
    font-weight: 500;
  }
}